.sidebar {
    min-height: 100vh;
    flex-direction: column;
    display: inline-flex;
    justify-content: space-between;
    padding: 26px 16px;
    background-color: #f0f4f9;
}

.sidebar img {
    width: 20px;
}

.sidebar .menu {
    margin-left: 15px;
    cursor: pointer;
    display: block;
}

.sidebar .new-chat {
    background-color: #e6eaf1;
    border-radius: 50px;
    font-size: 14px;
    color: gray;
    cursor: pointer;
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
}

.sidebar .recent {
    display: flex;
    flex-direction: column;
}

.sidebar .recent-title {
    margin-top: 31px;
    margin-bottom: 20px;
}

.sidebar .recent-entry {
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    cursor: pointer;
    color: #282828;
}